<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>

                <h1>Painel administrativo</h1>

                <h2>Serviços</h2>

                <a href="/admin/servicos/cadastrar">Adicionar novo</a>

                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Descricao</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let servico of servicos) { %>
                            <tr>
                                <td><%= servico.nome %></td>
                                <td><%= servico.preco %></td>
                                <td><%= servico.descricao %></td>
                                <td><a href="">Editar</a></td>
                                <td><a href="">Excluir</a></td>
                            </tr>
                        <% } %>

                    </tbody>
                </table>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>