<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main class="admin">
                <div class="container">
                    <h1>Painel administrativo</h1>
                    <section>
                        <h2>Serviços</h2>
                        <a href="/admin/servicos/cadastrar" class="adicionar">Adicionar novo</a>
                        <table>
                            <thead>
                                <tr>
                                    <th>Imagem</th>
                                    <th>Nome</th>
                                    <th>Preço</th>
                                    <th>Descricao</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let servico of servicos) { %>
                                    <tr>
                                        <td>
                                            <img src="/uploads/<%= servico.imagem %>" alt="" width="100">
                                        </td>
                                        <td>
                                            <%= servico.nome %>
                                        </td>
                                        <td>
                                            <%= servico.preco %>
                                        </td>
                                        <td>
                                            <%= servico.descricao %>
                                        </td>
                                        <td class="acoes-btn">
                                            <a href="/admin/servicos/editar/<%= servico.id %>" class="acoes-btn-editar">Editar</a>
                                            <a href="/admin/servicos/excluir/<%= servico.id %>" class="acoes-btn-excluir">Excluir</a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </section>
                </div>
            </main>
        <%- include('../partials/footer') %>
    </body>
</html>